@use '../abstracts' as *;

[data-component="VideoCard"] {
  .video-card {
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: stretch; 
    background-color: rgba(0, 0, 0, 0.809);
    margin-bottom: 1em;
    border-radius: 8px;
    min-height: 150px; 

    .leftImage {
      height: 130px;
      width: 160px;
      object-fit: cover;
      flex-shrink: 0; // image won't shrink
    }

    .rightContainer {
      margin-left: 1em;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex: 1;
      overflow: hidden;

      span {
        @include normalText(white, 20, 600);
        margin-bottom: 0.3em;
        text-align: left;
        flex-shrink: 0;
      }

      p {
        @include normalText(rgb(196, 196, 196), 14, 100);
        margin: 0;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        // flex-grow: 1; 
      }
    }
  }
}
